:root {
  --font-h1: 34px;
  --font-h2: 28px;
  --font-h3: 20px;
  --font-p: 16px;

  --primary-color: #11a9e0;
  --secondary-color: #333;
  --light-font-color: #888;
  --gradient-color: linear-gradient(#00ff7f, #00bbef);

  --background-primary: #fafafa;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
